.navigationBar {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-color:white;
    position: fixed;
    border-bottom: 3px solid black;
}

li  {
    display: inline-block;
    padding: 30px;
    font-family: 'Lobster Two', cursive;
    background-color: white;
}

li button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: white;
    cursor: pointer;
}

li button:after {
    background-color: transparent;
}

ul {
    list-style-type: none;
    width: 70%;
    margin: auto;
    text-align: center;
}

