#projects {
    background-color: skyblue;
}

.projectContainer {
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

@media screen and (max-width: 500px) {
    .projectContainer h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3em;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
    } 
}

@media screen and (min-width: 500px) {
    .projectContainer h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
        margin-bottom: 25px;
    }
}