#cv {
    background-color: peachpuff
}

.cvContainer {
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.cvContainer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
}

.cvContainer:not(:last-child) {
    background-color:black;
}

.cvContainer Fade {
    text-align: center;
}