.cvEntryContainer {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.cvEntryContainer h1 {
    font-family: 'Lobster Two', cursive;
    display: inline-block;
    margin-right: 1%;
}

.cvEntryContainer .show h4 {
    font-family: 'Muli', sans-serif;
    font-size: 2em;}

.cvEntryContainer hide {
    display: none;
}

.cvEntryContainer button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}