.cvEntryContainer {
    align-items:center;
    text-align: center;
    width: 100%;
}

.cvEntryContainer h1 {
    font-family: 'Lobster Two', cursive;
}

.cvEntryContainer show h4 {
    font-family: 'Lato', sans-serif;
    position: relative;
}

.cvEntryContainer hide {
    display: none;
}

.cvEntryContainer button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}