#home {
    background-color: #66b2b2;
}

.homeContainer {
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* Mobile */
@media screen and (max-width: 400px) {
    .homeContainer .portrait {
        margin-top: 35%;
        width: 70%;
        vertical-align: middle;
        margin-bottom: 3%;
        border:10px solid peachpuff;
    }

    .homeContainer .description {
        width: 70%;
        display: block;
        margin: 0 auto;
        font-size: 1.5em;
        font-family: 'Poiret One', cursive;
    }
}

/* Desktop */
@media screen and (max-width: 2500px) {
    .portrait {
        margin-top: 5%;
        width: 30%;
        vertical-align: middle;
        margin-bottom: 3%;
        border:10px solid peachpuff;
    }

    .description {
        width: 70%;
        display: block;
        margin: 0 auto;
        font-size: 2em;
        font-family: 'Poiret One', cursive;
    }
}



