#contact {
    background-color: #ffdae0
}

.contactContainer ul li  {
    display: inline-block;
    padding: 30px;
}

.contactContainer ul li a i:hover {
    color:black;
}

.contactContainer ul li button:hover {
    color:white;
}

.contactContainer ul  {
    list-style-type: none;
    width: 70%;
    margin: auto;
    text-align: center;
}